.scrolled-top{
     opacity: 0;
    transform: translateY(50px);
    animation: scroll-in 2s forwards;
}

@keyframes scroll-in {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.scrolled-down{
    opacity: 0;
    transform: translateY(-150px);
    animation: scroll-down 2s forwards;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

// Rotation fleurs

.story__article::after{
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

//     ANIMATION  TITRE 
/*
.scrolled-title{
    opacity: 0;
    animation: scroll-title 2s;
}

@keyframes scroll-title {
    0%{
        opacity: 0;
        transform: translate(0px);
    }
    100%{
        opacity: 1;
        transform: translate(60px)
    }
}
*/

// S E C T I O N   :   H E A D E R


    #background-video{
        z-index: -1;
        object-fit: cover;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }


/*   Animation : Flottement Titre Header   */
.floating{
    opacity: 1;
    animation: floating 5s ease-in-out 2s infinite;
}

@keyframes floating{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

// S E C T I O N  :  P E R S O N N A G E S
 .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 350px;
      margin-right: 200px;
    .swiper-slide img {
      display: block;
      width: 100%;
    }
    }
    }

// S E C T I O N  : P L A C E 
.story #place{
    background-image: url("../images_koukaki/Studio_Koukaki-image_place.png");
    position: relative;
}

.cloud{
    position: absolute;
    filter: blur(11px);
}

.little{
    top:37%;
    right: 35%;
}

.big{
    top: 15%;
    right: 5%;
}

// S E C T I O N  :  N O M I N A T I O N 

.container-section-nomination{
    display: flex;
    width: 100%;
    margin: 40px 0 40px 0;
    justify-content: center;
    position: relative;
    .back-nomination{
        z-index: 0;
        position: absolute;
        top: -30%;
        left: 7%;
    .txt__back-nomination{
        z-index: 5;
    }
    }
        
    
}