.scrolled-top{
     opacity: 0;
    transform: translateY(50px);
    animation: scroll-in 2s forwards;
}

@keyframes scroll-in {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.scrolled-down{
    opacity: 0;
    transform: translateY(-150px);
    animation: scroll-down 2s forwards;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

// Rotation fleurs

.story__article::after{
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

//     ANIMATION  TITRE 
/*
.scrolled-title{
    opacity: 0;
    animation: scroll-title 2s;
}

@keyframes scroll-title {
    0%{
        opacity: 0;
        transform: translate(0px);
    }
    100%{
        opacity: 1;
        transform: translate(60px)
    }
}
*/